@font-face {
  font-family: "Kare";
  src: local(Kare), url("./fonts/Kare-Trial.ttf") format("truetype");
}

@font-face {
  font-family: "Comfortaa";
  src: local(Comfortaa), url(./fonts/Comfortaa/static/Comfortaa-Medium.ttf) format(truetype);
}

@font-face {
  font-family: "Poppins";
  src: local(Poppins), url(./fonts/Poppins/Poppins-SemiBoldItalic.ttf) format(truetype);
}




